@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  font-family: iranyekan !important;
}

.floating-input > input::placeholder {
  color: transparent;
}
/* .floating-input > input:focus,
.floating-input > input:not(:placeholder-shown) {
  @apply pt-8;
} */
.floating-input > input:focus ~ label,
.floating-input > input:not(:placeholder-shown) ~ label {
  @apply bg-white text-base mr-2 -translate-y-9 text-pelorous;
}

.rmdp-input {
  height: 4rem !important;
  border-color: #6b7280 !important;
}
